.antialiased {
    -webkit-font-smoothing: antialiased;
}

/* 背景色 */
.dark body {
    background-color: rgba(52, 53, 65, 1);
}

/* 文字の色 */
.dark .container,
.dark .container * {
    color: #ffffff;
}

.dark .container-fluid,
.dark .container-fluid *,
.dark .container-fluid .form-control:focus {
    color: #ffffff;
}

.container .card,
.container .card * {
    color: #333;
}


main header>h1 {
    font-weight: bold !important;
    font-size: 28px !important;
}



.slot {
    width: 90%;
    height: 50px;
    overflow: hidden;
    margin: auto;
    border: solid 1px #fff;
}
.slot-frame {
    height: 50px;
    position: relative;
    overflow: hidden;
    border : solid 1px #fff ;
}

.reels{
    width: 33.333%;
    position: absolute;
    padding-left: 15%;
}


.reels:nth-child(2) {
    left: 33.333%;
}
.reels:nth-child(3) {
    left: 66.666%;
}

.reel {
    height: 25px;
}

.reel img {
    display: block;
    width: 20px;
}